/*----------------------------------------------------------------------*/
/*|*//*default for all chapters from now on.*/                    /*|*/
/*|*/ body{                                                 /*|*/
/*|*/   margin: 0;                                          /*|*/
/*|*/   padding: 0;                                         /*|*/
/*|*/   font-family: Georgia, Times, serif;                 /*|*/
/*|*/   font-size: 12px;                                    /*|*/
/*|*/ }                                                     /*|*/
/*|*/ h1{                                                   /*|*/
/*|*/   text-align: center;                                 /*|*/
/*|*/   background-color: black;                          /*|*/
/*|*/   color: white;                                     /*|*/
/*|*/   padding: 20px;                                      /*|*/
/*|*/   width: 50%;                                         /*|*/
/*|*/ }                                                     /*|*/
/*|*/ footer{                                               /*|*/
/*|*/   padding: 20px;                                      /*|*/
/*|*/ }                                                     /*|*/
/*|*/                                                       /*|*/
/*|*/ section{                                              /*|*/
/*|*/   margin: 10px;                                       /*|*/
/*|*/   border: solid black 1px;                          /*|*/
/*|*/   padding: 10px;                                      /*|*/
/*|*/   width: 97%;                                         /*|*/
/*|*/}                                                      /*|*/
/*|*/    /* Footer Styling */                                   /*|*/
/*|*/ #main-footer{                                           /*|*/
/*|*/  padding-top: 30px;                                      /*|*/
/*|*/  padding-bottom: 30px;                                    /*|*/
/*|*/ border-bottom: solid 20px #A85DFF;                     /*|*/
      }                                                      /*|*/
/*----------------------------------------------------------------------*/



/*Font Family & Font size section*/

.fontFamily h2, h3{
  font-family: Arial, Verdana, sans-serif;
}
.credits{
  font-family: "Courier New", Courier, monospace;
}


/*font size*/ /*NOTE: Font sizes in percentages and in em's will be based off of the original size of the 
font size of the page. In this case we changes it to be 12px, 200% of 12px = 24px so based on the bodies font size.*/
h2{
  font-size: 200%;
}
h3{
  font-size: 1.3em;
}



/* Using Font Face URL linking from google or using linked fonts
NOTE: When using fonts, different browsers use different font formats and that will depends on the
browser and so because of that you'll need to add multiple formats that 
are compatible with all browsers.*/

@font-face{
  font-family: 'ChunkFiveRegular';
  src: url('fonts/chunkfive.eot');
}

.fontFamily{
  font-family: 'ChunkFiveRegular', Georgia, serif;
}

/*Bold and Italic*/

#bold{
  font-weight: bold;
}
#italic{
  font-style: italic;
}

/* Text Tranform */
#uppercase{
  text-transform: uppercase;
}
#lowercase{
  text-transform: lowercase;
}
#capitalize{ /*look at the html text carefully on this one*/
  text-transform: capitalize;
}

/* Text Decoration */
#none{
  text-decoration: none;
}
#underline{
  text-decoration: underline;
}
#overline{
  text-decoration: overline;
}
#lineThrough{
  text-decoration: line-through;
}
#blink{
  text-decoration: blink; /*This one doesn't appear.*/
}


/* Text Align */
#left{
  text-align: left;
}
#right{
  text-align: right;
}
#center{
  text-align: center;
}
#justify{
  text-align: justify;
}

/* Vertical Align Is basically used for images that 
you add text to and this vertical align is to be able to align
everything in the vertical direction. */


/*Indenting Text*/
#indented{
  color: purple;
  text-indent: 20px;
  }


  /* Drop Shadow */

p.one{
  background-color: #eeeeee;
  color: #666666;
  text-shadow: 1px 1px 0px #000000;
  margin: 0;
  padding: 10px;
}
p.two{
  background-color: #dddddd;
  color: #666666;
  text-shadow: 1px 1px 3px #666666;
  margin: 0;
  padding: 10px;
}
p.three{
  background-color: #cccccc;
  color: #ffffff;
  text-shadow: 2px 2px 7px #111111;
  margin: 0;
  padding: 10px;
}
p.four{
  background-color: #bbbbbb;
  color: #cccccc;
  text-shadow: -1px -2px #666666;
  margin: 0;
  padding: 10px;
}
p.five{
  background-color: #aaaaaa;
  color: #ffffff;
  text-shadow: -1px -1px #666666;
  margin: 0;
  padding: 10px;
}



/*First Letter or Line*/
.first-letter:first-letter{
  font-size: 200%;
}
.first-line:first-line{
  font-weight: bold;
}


/* Styling Link On The Page */

ul{
  list-style-type: none;
}
a{
  padding: 10px;
  border-radius: 25px;
}
li{
  padding: 10px;
}

.link:link{
  color: #A85DFF;
  text-decoration: none;
}
.link:hover{
  color: #5fac63;
  text-decoration: underline;
}
.link:active{ /* This one what it does is that it activates when you click on the link. Kinda like javascripts onClick */
  color: white;
  background-color: black;
}
.link:visited{
  color: red;
}
.link:focus{
  color: #A85DFF;
}