/* header section style */

header{
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 30px;
    clear: right;
}

.nav{
    float: right;
    margin-right: 100px;
}
li{
    display: inline;
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(152, 42, 255);
}
