/* main section style */

main{
    position: relative;
    top: 100px;
    z-index: -1;
    background-color: rgb(150, 150, 150);
    padding: 20px;
    padding-top: 50px;
}
img{
    width: 300px;
    height: 300px;
}

.left{
    float: left;
    margin: 20px;
}
.right{
    float: right;
    margin: 20px;
}
#details{
    margin: 20px;
    color: rgb(150, 24, 24);
}