
/* Box Dimansions */
.dimensions{
  height: 300px;
  width: 400px;
  background-color: #ee3e80; 
}
.dimensions p{
  height: 75%;
  width: 75%;
  background-color: #e1ddda;
}


/* Limitng Width */
.width{
  min-width: 100px;
  max-width: 500px;
}

/* Height Limiting Max and Min Height */
p .height{
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 500px;
}