
/* Box Dimansions */
.dimensions{
  height: 300px;
  width: 400px;
  background-color: #ee3e80; 
}
.dimensions p{
  height: 75%;
  width: 75%;
  background-color: #e1ddda;
}


/* Limitng Width */
#width{
  min-width: 100px;
  max-width: 500px;
}

/* Height Limiting Max and Min Height */
#height1{
  padding: 5px;
  margin: 5px;
  border: solid black 1px;
  max-width: 60%;
  max-height: 100px;
  overflow: hidden;
}
#height2{
  padding: 10px;
  margin: 5px;
  border: solid black 1px;
  max-width: 40%;
  max-height: 100px;
  overflow: scroll;
}

/* Border width, style, color and shorthand */
/* This is the 2nd class name and I changed all of them at once and still gave them there own separate properties */
.edge{ 
  width: 20%;
  padding: 5px;
}

/* Border Width */
.border1{
  border-style: solid;
  border-width: 2px;
}
.border2{
  border-style: solid;
  border-width: thick;
}
.border3{
  border-style: solid;  
  border-width:  1px 4px 12px 2px;
}


/* border-style */
.border4{
  border-style: solid;
}
.border5{
  border-style: dotted;
}
.border6{
  border-style: dashed;
}
.border7{
  border-style: double;
}
.border8{
  border-style: groove;
}
.border9{
  border-style: ridge;
}
.border10{
  border-style: inset;
}
.border11{
  border-style: outset;
}

/* border color */
.border12{
  border-style: solid;
  border-color: #0088dd;
}
.border13{
  border-style: solid;
  border-color: #bbbbaa #111111 #ee3e80 #0088dd;
}
.border14{
  border: 3px dotted #0088dd;
}