body{
  background-color: silver;
  color: white;
  padding: 20px;
  font-family: Arial, verdana, sans-serif;
}

h1{
  background-color: #ffffff;
  background-color: hsla(0, 100%, 100%, 0.5)
}

p{
  padding: 5px;
  margin: 0;
}

p .zero{
  background-color: 
}
p .one{
  background-color: 
}
p .two{
  background-color: 
}
p .three{
  background-color: 
}
p .four{
  background-color: 
}
p .five{  background-color: 
}
p .six{
  background-color: 
}
p .seven{
  background-color:
 }
p .eight{
  background-color:
 }
p .nine{
  background-color: 
}
p .ten{
  background-color: 
}
p .eleven{
  background-color: 
}
p .twelve{
  background-color: 
}
p .thirdteen{
  background-color: 
}
p .fourteen{
  background-color: 
}








