/*FOREGROUND_COLOR*/
/*Color name*/
.foregroundColor h2{
  color: darkcyan;
}
/*hex code*/
.foregroundColor h3{
  color: #ee3e80;
}
/*rgb value*/
.foregroundColor p{
  color: rgb(100, 100, 90)
}



/*BACKGROUND_COLOR*/
.backgroundColor{
  background-color: rgba(200, 200, 200);
  padding: 10px;
}
.backgroundColor h2{
  color: white;
  background-color: darkcyan;
  padding: 10px;
}
.backgroundColor h3{
  color: white;
  background-color: #ee3e80;
  padding: 10px;
}
.backgroundColor p{
  background-color: white;
  padding: 10px;
}
