a{
  text-decoration: underline;
  color: black;
  padding: 10px;
}


/*FOREGROUND_COLOR*/
/*Color name*/
.foregroundColor h2{
  color: darkcyan;
}
/*hex code*/
.foregroundColor h3{
  color: #ee3e80;
}
/*rgb value*/
.foregroundColor p{
  color: rgb(100, 100, 90)
}



/*BACKGROUND_COLOR*/
.backgroundColor{
  background-color: rgba(200, 200, 200);
  padding: 10px;
}
.backgroundColor h2{
  color: white;
  background-color: darkcyan;
  padding: 10px;
}
.backgroundColor h3{
  color: white;
  background-color: #ee3e80;
  padding: 10px;
}
.backgroundColor p{
  background-color: white;
  padding: 10px;
}


/*Opacity and RGBA coloring*/
/*Opacity -> affects elements and children*/
.one{
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
}
/*RGBA -> affects only element that its applied to*/
.two{
  height: 100px;
  width: 100px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}


/*This is the hsl and hsla in css*/

p .hsl{
  background-color: #ffffff;
  background-color: hsla(0, 100%, 100%, 0.5);
}
