/* making the lists titles */
h5{
  font-weight: lighter;
  padding:  2px;
  margin: 5px;
  text-align: left;
  border-bottom: solid black 1px;
  color: black;
}
h4{
  border-bottom: solid black 1px;
}



/* older list styles */
ol, ul{
  margin: 5px;
  border: solid 1px black;
  width: 150px;
  display: inline-block; /* This is a good moment to use inline-block to keep the block properties but still put the boxes next to each other */
}
/* added spacing to list items */
li{
  margin: 10px 0px 10px 0px;
}

/* list item colors */
.spidey{
  color: #df0000;
}
.ironman{
  color: #c57e21;
}
.thor{
  color: #0f6bff;
}
.hulk{
  color: #20a720;
}
.blackwidow{
  color: #9b2e9b;
}


.decimal li{
  list-style-type: decimal;
}
.decimal-leading-zero li{
  list-style-type: decimal-leading-zero;
}
.lower-alpha li{
  list-style-type: lower-alpha;
}
.upper-alpha li{
  list-style-type: upper-alpha;
}
.lower-roman li{
  list-style-type: lower-roman;
}
.upper-roman li{
  list-style-type: upper-roman;
}


/* Unordered list styles */
.none li{
  list-style-type: none;
}
.disc li{
  list-style-type: disc;
}
.circle li{
  list-style-type: circle;
}
.square li{
  list-style-type: square;
}

/* List style image */
img{
  margin: 30px 50px 30px 30px;
}
.list-style-image{
  border: none;
}
.s-icon{
  list-style-image: url(Images/heros/spider-man-icon.svg);
}
.i-icon{
  list-style-image: url(Images/heros/iron-man-icon.svg);
}
.t-icon{
  list-style-image: url(Images/heros/thor.svg);
}
.h-icon{
  list-style-image: url(Images/heros/hulk-icon.svg);
}
.b-icon{
  list-style-image: url(Images/heros/black-widow.svg);  
}



/* List-style-postion */
.list-style-position1, .list-style-position2{
  display: block;
  border: none;
  width: 450px;
}
/* outside */
.outside{
  list-style-position: outside;
}
.outside li{
  padding: 10px;
}

/* inside */
.inside{
  list-style-position: inside;
}
.inside li{
  padding: 10px;
}


/* short hand */
#list{
   display: block;
   width: 400px;
   border: none;
   padding: 5px;
   margin-left: 10px;
 }
 .sub{
   list-style: inside circle;
   width: 200px;
 }
 .sub li{
   margin: 10px 0px 0px 0px;
 }




 /* Table Properties Styling a table for the first time. */
/* this is like targeting normal elements but its being applies 
on a table that elements live together in. The tables heading
and the rest of it. */
 table{
   width: 600px;
   font-family: Arial, Verdana, sans-serif;
   color: #111111;
 }
th, td{
  padding: 7px 10px 10px 10px;
}
th{
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 90%;
  border-bottom: 2px solid #111111;
  border-top: 1px solid #999;
  text-align: left;
}
tr.even{
  background-color: #efefef;
}
tr:hover{
  background-color: #c3e6e5; /*This is really cool when your hovering over a line to see how it all is together*/
}
.money{
  text-align: right;
} 


/* Working with empty Cells */

.Empty-Cells table{
  width: 25%;
 border: rgb(66, 46, 175) solid 2px;
 margin: 20px 0px;
 padding: 20px;
}
.Empty-Cells td{
  border: solid black 1px;
  padding: 15px;
}
.table1{
  empty-cells: show;
}
.table2{
  empty-cells: hide;
}


/* added border spacing and also border collapses with the */
.table3 td, .table4 td{
  background-color: #0f6bff;
  color: white;
  border: solid black 5px;
}
.table3{
  border-spacing: 10px 20px;
}
.table4{
  border-collapse: collapse;
}


/* Styling Forms, Inputs, buttons, Fieldsets and legends */


/* Styling Text Inputs!!!!!! */

input{
  font-size: 20%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 2px;
  display: block;
  margin-bottom: 10px;
}
input:focus, input:hover{
  background-color: #ffffff;
  border-bottom: 1px solid #b1e1e4;
}
/*Keep in mind that you might need ot have the sized png images the size that you want it to be....*/
input[id="person"]{
  background-image: url(images/heros/black-widow.svg); 
}
input[id="email"]{
  background-image: url(images/heros/spider-man-icon.svg);
}
input[id="phone"]{
  background-image: url(images/heros/thor.svg);
}

/* Styling Submit Button */

input[value="Submit"]{
  color: #444444;
  text-shadow: 0px 1px 1px #ffffff;
  border-bottom: 2px solid #b2b2b2;
  background-color: #b9e4e3;
  padding: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from (#beeae9), to (#a8cfce));
  background: -moz-linear-gradient(top, #beeae9, #a8cfce);
  background: -o-linear-gradient(top, #beeae9, #a8cfce);
  background: -ms-linear-gradient(top, #beeae9, #a8cfce);
}
input[value="Submit"]:hover{
  color: #333333;
  border: 1px solid #a4a4a4;
  border-top: 2px solid #b2b2b2;
  background-color: #a0dbc4;
  background: -webkit-gradient(linear, left top, left bottom, from (#a8cfce), to (#beeae9));
  background: -moz-linear-gradient(top, #a8cfce,#beeae9);
  background: -o-linear-gradient(top, #a8cfce,#beeae9);
  background: -ms-linear-gradient(top, #a8cfce,#beeae9);
}


/* Styling Fieldsets and Legends */

fieldset{
  margin: 50px 0px;
  width: 360px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
}
fieldset input[type="text"]{
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #dcdcdc;
  border-radius: 0px;
  padding: 5px;
  width: 50%;
}
fieldset input[value="Subcribe"]{
  padding: 5px;
  border-bottom: 2px solid #b2b2b2;
}
fieldset input[value="Subcribe"]:hover{
  padding: 5px;
  background-color: #d2d2d2;
  border: 1px solid #dcdcdc;
  border-top: 2px solid #b2b2b2;
}
legend{
  color: white;
  background-color: #a5a5a5;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: left;
  text-transform: uppercase;
}



/* Aligning Forms */

.aligning-h2{
  margin-bottom: 50px;
}
.aligning-form{
  width: 50%;
  border: solid 1px #d2d2d2;
  padding: 20px;
}
form #align-form{
  border-bottom: 1px solid #efefef;
  margin: 10px;
  padding-bottom: 10px;
  width: 260px;
}
.aligning-form input{
  padding: 0px;
  display: inline;
}
.title{
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}
.submit{
  text-align: right;
}
input[type="submit"]{
  padding: 5px;
  border-radius: 10px;
}



/* Styling the Cursor */

.auto{
  cursor: auto;
}
.crosshair{
  cursor: crosshair;
}
.default{
  cursor: default;
}
.pointer{
  cursor: pointer;
}
.move{
  cursor: move;
}
.text{
  cursor: text;
}
.wait{
  cursor: wait;
}
.help{
  cursor: help;
}
.gif{
  cursor: url("Images/mario.gif");
}