*{
    font-family: sans-serif;
}

body{
    background: #1d1b1b;
    padding: 0;
    margin: 0;
}

.container{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span{
    text-transform: uppercase;
    display: block;
}

#text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #1d1b1b;
    position: relative;
    animation: text 2s 1;
}

#text2{
    font-size: 30px;
    color: #6ab04c;
    animation: animate 6s ease-in 1s infinite;
}

#home{
    position: absolute;
    top: 10%;
    left: 10%;
}


.content{
    position: absolute;
    top: 50%;
    left: 35%;
    text-align: center;
}

ul{
	color: White;
	list-style-type: none;
    letter-spacing: 0.6rem;
    width: 400px;
}

li{
    padding: 0.5%;
    font-size: 1.4rem;
    cursor: pointer;
}

.html{
    float: left;

}
.css{
    float: right;
}

nav ul li{
    position: relative;
    float: left;
}
nav ul li ul{
    display: none;/*display:none makes water your targeting to disappear..*/
    position: absolute;
}
nav ul li:hover ul{
    display: block;
    position: absolute;
    width: 200px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 0.5em;
    padding: 0.5em;
    letter-spacing: 1px;
}

.nav{
  position: relative;
}
.nav::before{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  animation: underline 2s ease-in 1s infinite;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav:hover::before{
  transform: scaleX(1);
  transform-origin: bottom left;
}



/*so to make animations you 
put the animation first and then you place it where you want it yo be used in what you want it to be used on THATS AWESOME!!!*/


@keyframes text{
    0%{
        color: #1d1b1b;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}


@keyframes animate{

    0%{
        color: #03a9f4;
    }
    35%{
        color: #f441a5;
    }
    65%{      
        color: #ffeb3b;
    }
    100%{      
        color: #03a9f4;
    }

}
@keyframes underline{

    0%{
        background-color: #03a9f4;
    }
    35%{
        background-color: #f441a5;
    }
    65%{      
        background-color: #ffeb3b;
    }
    100%{      
        background-color: #03a9f4;
    }

}