*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: #1d1b1b;
}

a {
    text-decoration: none;
}

ul{
		color: White;
		list-style-type: none;
		padding: 0;
		margin: 0;
}

li{
 display: inline;
 padding: 5px;
}

li:hover{
	background-color: white;
	color: black;
}

.content{
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.container span{
    text-transform: uppercase;
    display: block;
}

.text1{
    color: white;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #1d1b1b;
    position: relative;
    animation: text 2s 1;
}

.text2{
    font-size: 30px;
    color: #6ab04c;
}




/*so to make animations you 
put the animation first and the you place it where you want it yo be used in what you want it to be used on THATS AWESOME!!!*/


@keyframes text{
    0%{
        color: #1d1b1b;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}