@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    font-family: 'Muli', sans-serif;
}
#color--blue{
    text-decoration: underline;
    color: #657dcc;
}
.size--smaller{
    width: 960px;
}

/* Image size default */
.large{
    width: 500px;
    margin: 20px;
}
.medium{
    width: 250px;
    margin: 20px;
}
.small{
    width: 100px;
    margin: 20px;
}

/* Aligning Images in the section area */

.float--left{
    float: left;
}
.float--right{
    float: right;
}
.center{
    display: block;
    margin: 20px auto;
}
figcaption{
    text-align: center;
}