li{
  list-style-type: none;
  margin: 10px;
}
a{
  color: rgb(206, 107, 206);
  text-decoration: none;
}

/* Floats and CLears */

h2{
  font-size: 40px;
  text-shadow: -5px 5px 2px rgb(196, 196, 196);
}

.floats_clears{ /*This is for the section to look different*/
  width: 80%;
  margin: 0px auto;
  padding: 50px;
}
.pretendImage{
  width: 300px;
  height: 300px;
  background-color: black;
  color: white;
}
.pretendImage p{
  position: relative;
  top: 50%;
  left: 35%;
}
.left{
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
.right{
  float: right;
  margin-left: 20px;
}

/* Clears using them with the Floats */
/* a lot of the styling was backed up with the above stuff styles that way I didn't have to 
repeat my self. */
.clears{
  border: none;
}
#clear{
  clear: right;
  margin-top: 20px;
}

/* Using Floats to make columns */
.columns{
  border: none;
}
h3{
  font-style: italic;
  color: rgb(78, 78, 78);
  font-family: monospace;
  font-weight: lighter;
}
.column_section{
  margin-left: 60px;
}
.title{
  font-size: 20px;
}
.title1{
  font-size: 30px;
}
.column1, .column2, .column3{
  width: 300px;
  float: left;
  margin-left: 60px;
}

.columns::after{ 
  /* This technic I found in the internet which allows you to add a little content after the parent elemtent
  given that if there are only floating elements in the parents element, the parent element can squish together 
  so to avoid that this technic can be used. Using the pseudo element ::after.*/
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}



/* This is for the Fixed with */
#nav ul li a{
  color: black;
}
#nav ul li a:hover{
  color: gray;
  text-decoration: underline;
}

.fixedwidth{
  width: 960px;
  margin: 0 auto;
  text-align: center;
}
.fixedwidth{
  margin-top: 50px;
}
#header{
  text-align: center;
}
#content{
  overflow: auto;
  height: 100%;
}
#nav, #feature, #footer{
  background-color: #efefef;
  padding: 10px;
  margin: 10px;
}
.column_1, .column_2, .column_3{
  background-color: #efefef;
  width: 300px;
  float: left;
  margin: 10px;
}
li{
  display: inline;
  padding: 5px;
}


/* This is using liquid layout for the website */

.liquid_layout{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.header_liquid{
  text-align: center;
}
.liquid_layout_para{
  color: rgb(197, 62, 62);
  font-size: 1.5em;
}
.l_list a{
  color: black;
}
.l_list a:hover{
  color: gray;
  text-decoration: underline;
}
#content_l{
  overflow: auto;
}
#liquid_nav ,#feature_l, #footer_l{
  margin: 1%;
}
.column_1_l, .column_2_l, .column_3_l{
  width: 31.1%;
  float: left;
  margin: 1%;
}
.column_3_l{
  margin-right: 0;
}
.l_list{
  display: inline;
  padding: 0.5em;
}
#liquid_nav, #footer_liquid{
  padding: 0.5em 0;
  background-color: #efefef;
}
#feature_l, .article{
  height: 10em;
  margin-bottom: 1em;
  background-color: #efefef;
}


/* GRID FRAME WORK */
.Grid_960gs, .gridhead{
  font-size: 20px;
  padding: 20px;
}